body {
    background-color: rgb(29, 29, 29);
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: blur(10px);
    transition: background-image 1s ease-in-out; 
}

.card {
    max-height: 900px;
    overflow: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px black;
    border: 0px solid rgb(0 0 0 / 0%);
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

@keyframes swipe-left {
    from {
        transform: translateX(0px) rotateZ(0deg);
        opacity: 1;
    }
    to {
        transform: translateX(-500px) rotateZ(-45deg);
        opacity: 0;
    }
}

.swiped-left {
    animation: swipe-left 500ms forwards;
}

@keyframes swipe-right {
    from {
        transform: translateX(0px) rotateZ(0deg);
        opacity: 1;
    }
    to {
        transform: translateX(500px)  rotateZ(45deg);
        opacity: 0;
    }
}

.swiped-right {
    animation: swipe-right 500ms forwards;
}

  img.card-img-top {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-body {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}