
    /* Add a border radius to the modal */
    .modal-content {
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.4s;
        box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
        background: url(https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg) no-repeat;
        background-size: cover !important;
        border: none;
    }

    /* Add a hover effect to the modal */
    

    /* Change the font size of the modal body text */
    .modal-body {
        font-size: 18px;
        color: #545454;
        padding: 10px;
        margin: 0;
    }

    /* Change the appearance of the modal image */
    .modal-image {
        height: 150px;
        object-fit: cover;
        padding: 10px;
    }

    /* Add a linear gradient to the modal */
    .modal-content::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(0, 255, 0, 0) 65%);
        z-index: -1;
    }

    

    /* Add styles for the custom row and column */
    .custom-row {
        display: flex;
    }

    .custom-col {
        flex: 1;
        max-width: fit-content;
    }

    /* Style the modal title */
    .modal-title {
        font-weight: 400;
    }

    .width-full {
        width: 100%;
    }

    .width-half {
        width: 50%;
        background-color: #fff;
        box-shadow: 9px 0px 15px 15px white;
        background-color: #fff;
    }
    
    /* Change the appearance of the modal on small screens */
    @media screen and (max-width: 768px) {
        
        .width-half {
            margin-top: 150px;
            width: 100%;
            background-color: #fff;
            box-shadow: 9px 0px 15px 15px white;
            background-color: #fff;
        }
    }