{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Match</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'movie_match/css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react-transition-group/dist/react-transition-group.min.js"></script>
</head>
<body>
    <div id="root"></div>
    

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            if (typeof initReactApp === 'function') {
                initReactApp();
            }
        });
    </script>

    {% verbatim %}
    <script type="text/babel">
        function initReactApp() {
        const { useState, useEffect } = React;

        const options = {
            method: 'GET',
            headers: {
              accept: 'application/json',
              Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMTg3OWI0OTI1MTE2NzBmMDNmNWI1Y2M5ZWI2ZTQzNSIsInN1YiI6IjY1MzAwNDA5OWQ1OTJjMDBhZTlmMjdkMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.RYPMM01Ei_X917bnfjd4M353M2nXYsioz1RPhS1Zoxo'
            }
        };

        const getRandomPage = () => Math.floor(Math.random() * 25) + 1;

        const MovieInfo = ({ movie, nextMovie }) => {
            if (nextMovie && nextMovie.backdrop_path) {
                const img = new Image();
                img.src = `https://image.tmdb.org/t/p/w1920_and_h800_multi_faces${nextMovie.backdrop_path}`;
            }

            const truncatedOverview = movie && movie.overview && movie.overview.length > 150 
                ? `${movie.overview.substring(0, 150)}...` 
                : movie && movie.overview || '';
        
            if (movie && movie.backdrop_path) {
                document.body.style.backgroundImage = `url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces${movie.backdrop_path})`;
            }

            return (
                <div className="card" style={{width: '24rem', margin: 'auto'}}>
                    <img src={`https://image.tmdb.org/t/p/w300_and_h450_bestv2${movie.poster_path}`} className="card-img-top" alt={movie.title} />
                    <div className="card-body">
                        <h5 className="card-title">{movie.title}</h5>
                        <p className="card-text">{truncatedOverview}</p>
                        <p>Release Date: {movie.release_date}</p>
                        <p>Popularity: {movie.popularity}</p>
                        <p>Vote Average: {movie.vote_average}</p>
                    </div>
                </div>
            );
        };

        const App = () => {
            const [movies, setMovies] = useState([]);
            const [currentIndex, setCurrentIndex] = useState(0);
            const [startX, setStartX] = useState(null);
            const [swiped, setSwiped] = useState(false);
            const [swipeDirection, setSwipeDirection] = useState(null);
            
            const fetchMovies = () => {
                const randomPage = getRandomPage();
                fetch(`https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=${randomPage}&sort_by=popularity.desc`, options)
                    .then(response => response.json())
                    .then(data => {
                        setMovies(prevMovies => [...prevMovies, ...data.results]);
                    })
                    .catch(err => {
                        console.error('Failed to fetch movies:', err);
                    });
            };
        
            useEffect(() => {
                fetchMovies();
            }, []);
        

            const stopPropagation = (e) => {
                e.stopPropagation();
            };
            
            const handleStart = (startX) => {
                setStartX(startX);
            };
        
            const handleEnd = (endX) => {
                if (startX > endX + 50 || startX + 50 < endX) {
                    setSwipeDirection(startX > endX + 50 ? 'left' : 'right');
                    setSwiped(true);
                    setTimeout(() => {
                        setSwiped(false);
                        setCurrentIndex(prevIndex => {
                            const newIndex = prevIndex + 1;
                            if (newIndex > movies.length - 3) {
                                fetchMovies();
                            }
                            return newIndex;
                        });
                    }, 500);
                }
            };
        
            return (
                <div 
                    className="d-flex justify-content-center align-items-center" 
                    style={{ height: '100vh' }}
                    onMouseDown={(e) => handleStart(e.clientX)}
                    onMouseUp={(e) => handleEnd(e.clientX)}
                    onTouchStart={(e) => handleStart(e.touches[0].clientX)}
                    onTouchEnd={(e) => handleEnd(e.changedTouches[0].clientX)}
                >
                    {movies.slice(currentIndex, currentIndex + 2).reverse().map((movie, index, arr) => (
                        <div 
                            className={`card ${swiped && index === 1 ? (swipeDirection === 'left' ? 'swiped-left' : 'swiped-right') : ''}`}
                            style={{ position: 'absolute' }}
                        >
                            <MovieInfo movie={movie} nextMovie={arr[index + 1]} />
                        </div>
                    ))}
                </div>
            );
        };

        ReactDOM.render(<App />, document.getElementById('root'));
    }

    if (document.readyState === 'complete' || (document.readyState !== 'loading' && !document.documentElement.doScroll)) {
        initReactApp();
    }
    </script>
    {% endverbatim %}
</body>
</html>
