{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Match</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'movie_match/css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react-transition-group/dist/react-transition-group.min.js"></script>
</head>
<body>
    <div id="root"></div>

    {% verbatim %}
    <script type="text/babel">
        const { useState, useEffect } = React;

        const options = {
            method: 'GET',
            headers: {
              accept: 'application/json',
              Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMTg3OWI0OTI1MTE2NzBmMDNmNWI1Y2M5ZWI2ZTQzNSIsInN1YiI6IjY1MzAwNDA5OWQ1OTJjMDBhZTlmMjdkMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.RYPMM01Ei_X917bnfjd4M353M2nXYsioz1RPhS1Zoxo'
            }
        };

        const getRandomPage = () => Math.floor(Math.random() * 25) + 1;

        const MovieInfo = ({ movie, nextMovie }) => {
            if (nextMovie && nextMovie.backdrop_path) {
                const img = new Image();
                img.src = `https://image.tmdb.org/t/p/w1920_and_h800_multi_faces${nextMovie.backdrop_path}`;
            }

            const truncatedOverview = movie && movie.overview && movie.overview.length > 150 
                ? `${movie.overview.substring(0, 150)}...` 
                : movie && movie.overview || '';
        
            if (movie && movie.backdrop_path) {
                document.body.style.backgroundImage = `url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces${movie.backdrop_path})`;
            }

            return (
                <div className="card" style={{width: '24rem', margin: 'auto'}}>
                    <img src={`https://image.tmdb.org/t/p/w300_and_h450_bestv2${movie.poster_path}`} className="card-img-top" alt={movie.title} />
                    <div className="card-body">
                        <h5 className="card-title">{movie.title}</h5>
                        <p className="card-text">{truncatedOverview}</p>
                        <p>Release Date: {movie.release_date}</p>
                        <p>Popularity: {movie.popularity}</p>
                        <p>Vote Average: {movie.vote_average}</p>
                    </div>
                </div>
            );
        };

        const App = () => {
            const [movies, setMovies] = useState([]);
            const [currentIndex, setCurrentIndex] = useState(0);
            const [startX, setStartX] = useState(null);
            const [swiped, setSwiped] = useState(false);
            
            useEffect(() => {
                const randomPage = getRandomPage();
                fetch(`https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=${randomPage}&sort_by=popularity.desc`, options)
                    .then(response => response.json())
                    .then(data => {
                        setMovies(data.results);
                    })
                    .catch(err => {
                        console.error('Failed to fetch movies:', err);
                    });
            }, []);

            const handleTouchStart = (e) => {
                setStartX(e.touches[0].clientX);
            };

            const handleTouchEnd = (e) => {
                const endX = e.changedTouches[0].clientX;
                if (startX > endX + 50) {
                    setSwiped(true);
                    setTimeout(() => {
                        setSwiped(false);
                        setCurrentIndex(prevIndex => prevIndex + 1);
                    }, 500);
                }
            };

            return (
                <div className="d-flex justify-content-center align-items-center" style={{ height: '100vh' }}>
                    {movies.slice(currentIndex, currentIndex + 2).reverse().map((movie, index, arr) => (
                        <div 
                            className={`card ${swiped && index === 1 ? 'fade-out-active' : ''}`}
                            style={{ position: 'absolute' }}
                            onTouchStart={handleTouchStart}
                            onTouchEnd={handleTouchEnd}
                        >
                            <MovieInfo movie={movie} nextMovie={arr[index + 1]} />
                        </div>
                    ))}
                </div>
            );
        };

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
    {% endverbatim %}
</body>
</html>
