{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Match</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'movie_match/css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            if (typeof initReactApp === 'function') {
                initReactApp();
            }
        });
    </script>

    {% verbatim %}
    <script type="text/babel">
        function initReactApp() {
            const { useState, useEffect } = React;
            const options = {
                method: 'GET',
                headers: {
                    accept: 'application/json',
                    Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMTg3OWI0OTI1MTE2NzBmMDNmNWI1Y2M5ZWI2ZTQzNSIsInN1YiI6IjY1MzAwNDA5OWQ1OTJjMDBhZTlmMjdkMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.RYPMM01Ei_X917bnfjd4M353M2nXYsioz1RPhS1Zoxo'
                }
            };

            const getRandomPage = () => Math.floor(Math.random() * 400) + 1;

            const MovieInfo = ({ movie }) => {
                if (!movie) return null;

                const truncatedOverview = movie && movie.overview && movie.overview.length > 150 
                    ? `${movie.overview.substring(0, 150)}...` 
                    : movie && movie.overview || '';
                
                if (movie && movie.backdrop_path) {
                    document.body.style.backgroundImage = `url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces${movie.backdrop_path})`;
                }
            
                return (
                    <div className="card" style={{width: '24rem', margin: 'auto'}}>
                        <img src={`https://image.tmdb.org/t/p/w300_and_h450_bestv2${movie.poster_path}`} className="card-img-top" alt={movie.title} />
                        <div className="card-body">
                            <h5 className="card-title">{movie.title}</h5>
                            <p className="card-text">{truncatedOverview}</p>
                            <p>Release Date: {movie.release_date}</p>
                            <p>Popularity: {movie.popularity}</p>
                            <p>Vote Average: {movie.vote_average}</p>
                        </div>
                    </div>
                );
            };
            

            const App = () => {
                const [movies, setMovies] = useState([]);
                const [topIndex, setTopIndex] = useState(0);
                const [bottomIndex, setBottomIndex] = useState(1);
                const [startX, setStartX] = useState(0);
                const [currentX, setCurrentX] = useState(0);
                const [isSwiping, setIsSwiping] = useState(false);
                const [isMeaningfulSwipe, setIsMeaningfulSwipe] = useState(false);

                const [lastFetchTime, setLastFetchTime] = useState(0);

                const fetchMovies = () => {
                    const currentTime = new Date().getTime();
                    
                    // Check if it's been at least 1 second since the last fetch
                    if (currentTime - lastFetchTime >= 1000) {
                        const randomPage = getRandomPage();
                        
                        fetch(`https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=${randomPage}&sort_by=popularity.desc`, options)
                            .then(response => response.json())
                            .then(data => {
                                setMovies(prevMovies => [...prevMovies, ...data.results]);
                            })
                            .catch(err => {
                                console.error('Failed to fetch movies:', err);
                            });
                        
                        // Update the last fetch time
                        setLastFetchTime(currentTime);
                    }
                };

                useEffect(() => {
                    fetchMovies();
                }, []);

                const handleSwipeStyles = () => {
                    if (!isSwiping && !isMeaningfulSwipe) {
                        return { transition: 'all 0.3s ease-out' }; // Animate back to the initial position
                    }
                
                    if (!isSwiping) return {};
                
                    const translateX = currentX - startX;
                    const rotate = Math.min(translateX / 10, 15);
                
                    return {
                        transform: `translateX(${translateX}px) rotate(${rotate}deg)`,
                        transition: 'none'
                    };
                };
                
                
                


                const handleMouseOut = () => {
                    // Reset the swipe state
                    setIsSwiping(false);
                    setStartX(0);
                    setCurrentX(0);
                };
                
                // Add a throttle function
const throttle = (func, limit) => {
    let inThrottle;
    return function () {
        const args = arguments;
        const context = this;
        if (!inThrottle) {
            func.apply(context, args);
            inThrottle = true;
            setTimeout(() => inThrottle = false, limit);
        }
    };
};

// Replace your handleMove function with a throttled version
const handleMove = throttle((e) => {
    e.stopPropagation();
    if (isSwiping) {
        const movedX = e.clientX || e.touches[0].clientX;
        setCurrentX(movedX);
    }
}, 16); // approx 60 frames per second

                
                
                const handleStart = (e) => {
                    e.stopPropagation();
                    setIsSwiping(true);
                    const initialX = e.clientX || e.touches[0].clientX;
                    setStartX(initialX);
                    setCurrentX(initialX);  // Reset currentX to initialX at start
                    console.log('handleStart:', 'startX set to:', initialX);  // Debugging log
                };
                
                const handleEnd = (e) => {
                    e.stopPropagation();
                    console.log('handleEnd triggered');  // Debugging log
                    console.log('handleEnd:', 'startX was:', startX, 'and currentX is:', currentX);  // Debugging log
                
                    const swipeDistance = Math.abs(currentX - startX);
                    console.log('Swipe distance:', swipeDistance);  // Debugging log
                
                    if (swipeDistance > 200) {
                        console.log('Meaningful swipe detected');  // Debugging log
                        setIsMeaningfulSwipe(true);
                
                        setBottomIndex(prevTopIndex => prevTopIndex + 1);
                
                        setTopIndex(prevTopIndex => {
                            const newTopIndex = prevTopIndex + 1;
                            if (newTopIndex > movies.length - 3) {
                                fetchMovies();
                            }
                            return newTopIndex;
                        });
                    } else {
                        console.log('Not a meaningful swipe');  // Debugging log
                        setIsMeaningfulSwipe(false);
                    }
                
                    setIsSwiping(false);
                    setStartX(0);
                    setCurrentX(0);
                };
                
                
                if (movies.length < 2) {
                    return <div>Loading...</div>;
                }
            
                return (
                    <div 
                        className="d-flex justify-content-center align-items-center"
                        style={{ height: '100vh', position: 'relative' }}
                        onMouseDown={handleStart}
                        onMouseMove={handleMove}
                        onMouseUp={handleEnd}
                        onMouseOut={handleMouseOut}
                        onTouchStart={handleStart}
                        onTouchMove={handleMove}
                        onTouchEnd={handleEnd}
                    >
                        {[bottomIndex, topIndex].map((index, i) => (
                            <div 
                                style={{
                                    position: 'absolute',
                                    zIndex: i === 0 ? 1 : 2,  // Explicitly set zIndex based on index
                                    ...index === topIndex ? handleSwipeStyles() : {}
                                }} 
                                key={`${movies[index] ? movies[index].id : index}-${i}`}  // Include index i to make the key unique
                            >
                                <MovieInfo movie={movies[index] ? movies[index] : null} />
                            </div>
                        ))}
                    </div>
                );
            };

            ReactDOM.render(<App />, document.getElementById('root'));
        }

        if (document.readyState === 'complete' || (document.readyState !== 'loading' && !document.documentElement.doScroll)) {
            initReactApp();
        }
    </script>
    {% endverbatim %}
</body>
</html>
