{% extends 'home/Layout_v2.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" class="main-css" type="text/css" href="{% static 'movie_match/assets/css/wheel.css' %}">
<!-- Page Content Start -->
<div class="canvas-container">
    <canvas id="movieWheelCanvas" width="500" height="500"></canvas>
    <!-- Hidden element to store movies data -->
    <div id="movies-data" style="display:none;">{{ interested_movies_json|safe }}</div>
</div>
<!-- Page Content End -->

<script src="{% static 'movie_match/assets/js/wheel.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var canvas = document.getElementById('movieWheelCanvas');
        
        // Initialize with static elements and an initial wheel draw
        drawCenterButton(canvas);
        drawIndicator(canvas);
        drawWheel(canvas, 0);

        canvas.addEventListener('click', function() {
            spinWheel(canvas);
        });
    });
</script>

{% endblock %}
