{% extends 'home/Layout_v2.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" class="main-css" type="text/css" href="{% static 'movie_match/assets/css/wheel.css' %}">
<link rel="stylesheet" class="main-css" type="text/css" href="{% static 'movie_match/assets/css/modal.css' %}">
<!-- Page Content Start -->
<div class="canvas-container">
    <canvas id="movieWheelCanvas" width="500" height="500"></canvas>
    <!-- Hidden element to store movies data -->
    <div id="movies-data" style="display:none;">{{ interested_movies_json|safe }}</div>

</div>
<!-- Page Content End -->

<script src="{% static 'movie_match/assets/js/wheel.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var canvas = document.getElementById('movieWheelCanvas');
        
        // Initialize with static elements and an initial wheel draw
        drawCenterButton(canvas);
        drawIndicator(canvas);
        drawWheel(canvas, 0);

        canvas.addEventListener('click', function() {
            spinWheel(canvas);
        });

        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('Liked')) {
                console.log('Liked button clicked');
                handleLikeDislikeClick(true);
            } else if (event.target.classList.contains('Disliked')) {
                console.log('Disliked button clicked');
                handleLikeDislikeClick(false);
            }
        });
    });

    // Event listener for Adjusted Angle Offset slider
    document.getElementById('angleOffset').addEventListener('input', function() {
        adjustedAngleOffset = parseInt(this.value);
        document.getElementById('angleOffsetValue').innerText = adjustedAngleOffset;
        // Recalculate and display the winner
        var moviesElement = document.getElementById('movies-data');
        if (moviesElement) {
            var movies = JSON.parse(moviesElement.textContent);
            var numberOfSegments = Math.min(movies.length, 8);
            calculateWinner(wheelRotationAngle, numberOfSegments, movies);
        }
    });

    // Event listener for Manual Wheel Rotation slider
    document.getElementById('manualRotation').addEventListener('input', function() {
        var manualAngle = parseInt(this.value);
        document.getElementById('manualRotationValue').innerText = manualAngle;
        // Set the wheel to the manual angle and recalculate the winner
        drawWheel(document.getElementById('movieWheelCanvas'), manualAngle);
        var moviesElement = document.getElementById('movies-data');
        if (moviesElement) {
            var movies = JSON.parse(moviesElement.textContent);
            var numberOfSegments = Math.min(movies.length, 8);
            calculateWinner(manualAngle, numberOfSegments, movies);
        }
    });

    // Function to send movie data to the server
    function sendMovieData(movie, liked) {
        console.log('Sending movie data:', movie, 'Liked:', liked);  // Log the movie data and liked status

        // Return the fetch promise
        return fetch(`/movie_match/save_movie_data/${movie.fields.movie_id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                seenLiked: liked,
                seenDisliked: !liked,
                movieId: movie.fields.movie_id,
                title: movie.fields.title,
                overview: movie.fields.overview,
                release_date: movie.fields.release_date,
                popularity: movie.fields.popularity,
                vote_average: movie.fields.vote_average,
                original_language: movie.fields.original_language,
                original_title: movie.fields.original_title,
                genre_ids: movie.fields.genre_ids,
                backdrop_path: movie.fields.backdrop_path,
                poster_path: movie.fields.poster_path,
                video: movie.fields.video,
                vote_count: movie.fields.vote_count,
                adult: movie.fields.adult
                // Add any other properties you wish to send
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .catch(error => {
            console.error('Error sending movie data:', error);
        });
    }


    // Function to handle Like and Dislike button clicks
    function handleLikeDislikeClick(liked) {
        console.log('Like/Dislike button clicked:', liked ? 'Liked' : 'Disliked');

        if (winningMovieData) {
            console.log('Selected movie for action:', winningMovieData);
            sendMovieData(winningMovieData, liked)
                .then(data => {
                    console.log('Response from server:', data);
                    updateMoviesData(data.updated_movies);
                    closeModal();
                })
                .catch(err => console.error('Error:', err));
        } else {
            console.log('No movie selected');
        }
    }


    // Function to update movies data and redraw the wheel
    function updateMoviesData(updatedMoviesJson) {
        var moviesElement = document.getElementById('movies-data');
        if (moviesElement) {
            moviesElement.textContent = updatedMoviesJson;
            var updatedMovies = JSON.parse(updatedMoviesJson);

            wheelImages = []; // Clear existing images
            loadWheelImages(updatedMovies, function() {
                drawWheel(document.getElementById('movieWheelCanvas'), 0);
            });
        }
    }


    // Function to close the modal
    function closeModal() {
        $('#exampleModalCenter').modal('hide'); // Using jQuery to hide the modal
    }

    const likedButton = document.querySelector('.btn-primary.Liked');
    const dislikedButton = document.querySelector('.btn-primary.Disliked');

    if (likedButton && dislikedButton) {
        likedButton.addEventListener('click', function() {
            handleLikeDislikeClick(true);
        });

        dislikedButton.addEventListener('click', function() {
            handleLikeDislikeClick(false);
        });

        console.log('Event listeners attached to buttons');  // Log that event listeners are attached
    } else {
        console.log('Like/Dislike buttons not found');  // Log if buttons are not found
    }
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="row g-0 flex-column width-half">
                <div class="col-md-4 order-md-1 width-full">
                    <div class="custom-row">
                        <div class="custom-col">
                            <img src="" alt="Movie Poster" class="img-fluid rounded modal-image">
                        </div>
                        <div class="custom-col">
                            <h5 class="modal-title" id="exampleModalCenterTitle"><a class="movie-link" href="#">Movie Title.</a></h5>
                            <p class="card-text"><small class="text-muted">2017, David Ayer</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-2 width-full">
                    <div class="card-body">
                        <p class="lead">Movie overview</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger Disliked">Disliked</button>
                        <button type="button" class="btn btn-success Liked">Liked</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
