{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Title -->
	<title>Movie Matcher</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">

	<!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'movie_match/assets/images/favicon.png">
    
    <!-- Global CSS -->
	<link href="{% static 'movie_match/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'movie_match/assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}">
	<link rel="stylesheet" href="{% static 'movie_match/assets/vendor/swiper/swiper-bundle.min.css' %}">
    
	<!-- Stylesheets -->
    <link rel="stylesheet" class="main-css" type="text/css" href="{% static 'movie_match/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" class="main-css" type="text/css" href="{% static 'movie_match/assets/css/style.css' %}">
	
    <!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    
    <!-- React -->
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>   
<body class="overflow-hidden header-large">
<div class="page-wrapper">
    
	<!-- Preloader -->
	<div id="preloader">
		<div class="loader">
			<div class="load-circle"><div></div><div></div></div>
		</div>
	</div>
    <!-- Preloader end-->
	
	<!-- Header -->
		<header class="header header-fixed border-0">
			<div class="container">
				<div class="header-content">
					<div class="left-content">
						<a href="javascript:void(0);" class="menu-toggler">
							<i class="fa-solid fa-bars"></i>
						</a>
					</div>
					<div class="mid-content header-logo">
						<a href="{% url 'index' %}">
							<img src="{% static 'movie_match/assets/images/MovieMatcher.png' %}" alt="">
						</a>
					</div>
					{% if user.is_authenticated %}
					<div class="right-content dz-meta">
						<a href="{% url 'profile' user.username %}" class="filter-icon">
							<i class="fa-solid fa-user"></i>
						</a>
					</div>
					{% else %}
					{% endif %}
				</div>
			</div>
		</header>
	<!-- Header -->
	
	<!-- Sidebar -->
    <div class="dark-overlay"></div>
	<div class="sidebar">
		<div class="inner-sidebar">
			<a href="profile.html" class="author-box">
				<div class="dz-media">
					<img src="{% static 'movie_match/assets/images/user/pic1.jpg' %}" alt="author-image">
				</div>
				<div class="dz-info">
					<h5 class="name">{{ user.username }}</h5>
					<span>{{ user.email }}</span>
				</div>
			</a>
			<ul class="nav navbar-nav">	
				<li>
					<a class="nav-link active" href="{% url 'index' %}">
						<span class="dz-icon">
							<i class="fa-solid fa-house"></i>
						</span>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a class="nav-link" href="{% url 'movie_match:wheel_of_movies' %}">
						<span class="dz-icon">
							<i class="fa-solid fa-dharmachakra"></i>
						</span>
						<span>Wheel of Movies</span>
					</a>
				</li>
				<li>
					{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'profile' user.username %}">
						<span class="dz-icon">
							<i class="fa-solid fa-user"></i>
						</span>
						<span>Profile</span>
					</a>
					{% else %}
					{% endif %}
				</li>
				<li>
					<a class="nav-link" href="{% url 'logout' %}">
						<span class="dz-icon">
							<i class="fa-solid fa-sign-out"></i>
						</span>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
    <!-- Sidebar End -->
	
	<!-- Page Content Start -->
    {% block content %}
    <!-- Content will be overridden by child templates -->
    {% endblock content %}
	<!-- Page Content End -->
	
	<!-- Menubar -->
	<div class="menubar-area style-3 footer-fixed">
		<div class="toolbar-inner menubar-nav">
			<a href="{% url 'index' %}" class="nav-link">
				<i class="fa-solid fa-house"></i>
			</a>
			<a href="{% url 'movie_match:wheel_of_movies' %}" class="nav-link">
				<i class="fa-solid fa-dharmachakra"></i>
			</a>
			{% if user.is_authenticated %}
			<a href="{% url 'profile' user.username %}" class="nav-link">
				<i class="fa-solid fa-user"></i>
			</a>
			{% else %}
			{% endif %}
		</div>
	</div>
	<!-- Menubar -->
</div>  
<!--**********************************
    Scripts
***********************************-->
<script src="{% static 'movie_match/assets/js/jquery.js' %}"></script>
<script src="{% static 'movie_match/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'movie_match/assets/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- Swiper -->
<script src="{% static 'movie_match/assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script><!-- Swiper -->
<script src="{% static 'movie_match/assets/js/dz.carousel.js' %}"></script>
<script src="{% static 'movie_match/assets/js/custom.js' %}"></script>
</body>
</html>